/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";
@import "infusionsoft-forms.less";
@import "eb-mixins.less";



@font-face {
    font-family: 'ChristopherhandRegular';
    src: url('../fonts/comesinhandy-webfont.eot');
    src: url('../fonts/comesinhandy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comesinhandy-webfont.woff') format('woff'),
         url('../fonts/comesinhandy-webfont.ttf') format('truetype'),
         url('../fonts/comesinhandy-webfont.svg#ChristopherhandRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   Base
   ========================================================================== */

body { 
   // overflow-x: hidden;
}

.container {
 /* fixes annoying bootstrap negative margins */
  padding:0 15px; max-width: 100%;
}

/* ==========================================================================
   Header
   ========================================================================== */

 .banner { 
   background: @brand-primary;
   font-family: 'ChristopherhandRegular';
   height: 65px;
   z-index: 99;
   @media (max-width: @screen-xs-max) {
    height: 43px;
   }
 }
 
.kwsign {
  position: relative; 
  top: -38px; 
  margin-left: 10%;
  // left: 10%; 
  color: white;
     @media (max-width: @screen-xs-max) {
      top: -28px;
   }
}

.kwsign.banner {
  position: relative; 
  top: -38px; 
  margin-left: 10%;
  // margin-right: 400px;
  width: 100%;
  // left: 10%; 
  color: white;
     @media (max-width: @screen-xs-max) {
      top: -28px;
   }
}

.bigk {
  font-size: 110px; 
  float: left; 
  display: block;
    @media (max-width: @screen-xs-max) {
      // padding-top: 10px;
      font-size: 80px;
    }
}

.bigw {
  font-size: 110px; 
  float: left; 
  display: block; 
  margin-left: 10px;
  @media (max-width: @screen-xs-max) {
      font-size: 80px;
      }
}

.littlekwletters {
  float: left; 
  display: block; 
  padding-top: 27px; 
  // margin-left: -5px;
  font-size: 80px;

  @media (max-width: @screen-xs-max) {
    font-size: 50px;
    margin-left: 0px;
  }
}

.navbar {
  height: 66px;
  background-color: @brand-primary;
  margin-bottom: 0;
  // .border-radius(0px);
}



.headerblock {
  // max-width: 1140px;
}
.headerimg {
    // min-height: 100px;
   background-image: url('../img/krisstina_00393-sm.png') ;
   background-repeat:no-repeat;
   // max-width: 1024px;
   min-height: 480px;
   // margin: 0 auto;
   background-size: cover;
   -moz-background-size: cover;  /* Firefox 3.6 */
   background-position: right center;  /* Internet Explorer 7/8 */

      /* X-Small */
    @media (max-width: @screen-xs-max) {
   min-height: 400px;
      
    }

      /* Large */
  @media (min-width: @screen-lg-min) {
   min-height: 640px;
    
  }

   &.frontpage {
   background-image: url('../img/coffee-lg.jpg') ;

   }
 }

/* ==========================================================================
   Content
   ========================================================================== */


.content { }




/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
  background-color: #E8F1F2;
}

footer.squeeze {
  min-height: 100px;
}

.socialwrap {
  height: 100%;
  margin-top: 35px;
  margin-left: 13%;
  img {
    margin-left: 15px;
  }
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: @screen-xs-max) {
  // .container {
  //   max-width: 100%;
  //   padding: 0;
  // }

  // .row {
  //   max-width: 100%;
  //   margin: 0;
  //   // padding: 0 15px;
  // }


}

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }

.ribbon {
      background-color: #2dc760;
      overflow: hidden;
      position: fixed;
      right: 0em;
      top: 0em;
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -webkit-box-shadow: 0 0 .5em #373737;
      box-shadow: 0 0 0.5em #373737;
      -webkit-perspective-origin-x: 0px;
      -webkit-perspective-origin-y: 0px;
      -webkit-transform-origin: 68px 88px;
      -moz-transform-origin: 68px 88px;
      -o-transform-origin: 68px 88px;
      -ms-transform-origin: 68px 88px;
      transform-origin: 68px 88px;
      z-index: 999;
    }

    .ribbon a {
      border: 1px solid #faa;
      color: #fff;
      display: block;
      font: bold 91.25% 'Lato', 'Helvetiva Neue', Helvetica, Arial, sans-serif;
      margin: 0.05em 0 0.075em 0;
      padding: 0.5em 3.5em;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 1px #000000;
      letter-spacing: 1px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: default;
      line-height: .7;
    }
