
.kw-form-fieldset {
  position: absolute;
  bottom: 30%;
  right: 0px;
  // right: -12%;
  width: 100%;

  /* Small */
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
     width: 90%;
    bottom: 25%;

  }

  /* Medium */
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    width: 70%;
    bottom: 25%;
  }

  /* Large */
  @media (min-width: @screen-lg-min) {
    width: 50%;
    bottom: 20%;

  }

}

.kw-form-field {
  width: 100%;
  float: left;
  height: 50px;
  padding-top: 20px;
  padding-right: 3px;

  /* Small */
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
   width: 25%;
  }

   /* Medium */
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    width: 25%;
  }

  /* Large */
  @media (min-width: @screen-lg-min) {
    width: 25%;
  }

  input {
    display: block;
    width: 100%;
    vertical-align: middle;
  }
  input.btn-circle {
    margin-top: -20px;
    margin-left: -12px;
    height: 75px;
    width: 75px;

    /* X-Small */
    @media (max-width: @screen-xs-max) {
      margin: 0 auto;
      margin-top: -10px;
      // float: none;
    }
  }

  // }

}




.btn-circle {
  .button-variant(@btn-danger-color; #4D4D4D; lighten(#4D4D4D, 50%));
  font-family: 'Century Gothic', sans;
  font-size: 18px;
  border-radius: 50%;
  .square(50px);
  @media (min-width: @screen-lg-min) { 

  }
  // width: 50px;
  // height: 50px;
  // top: 50%;
}

.squeezecontact {
  float: left;
  text-align: right;
  width: 50%;
  position: absolute;
  bottom: 2%;
  right: 0;
  font-family: 'Century Gothic', sans;
  font-size: 18px;
  color: white;
  text-transform:uppercase;
  font-weight: 200;
  a {
    color: white;
    margin-right: 13%;
  }
  img {
    width: 73px;
  }

   /* X-Small */
    @media (max-width: @screen-xs-max) {
      text-align: center;
      float: none;
      width: 100%;
      span {
        display: none;
      }
      a {
      margin: 0 auto;

        // z-index: -1;
      }
      img {
        margin-left: -1px;
      }
    
  }

    /* Small */
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
     width: 90%;
         a {
        margin-right: 14%;
    }
    img {
      // margin-right: -4%;
    }
  }

  /* Medium */
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    width: 70%;
    a {
    margin-right: 14%;

    }
  }

  /* Large */
  @media (min-width: @screen-lg-min) {
    width: 50%;
    a {
    margin-right: 14%;

    }
  }
}

